html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
#img {
    display: block;
    background-size: cover;
    background-image: url(images/Pepedankmeems420blazeitohbabyatripledankaestheticafkeepit100.jpg);
    height: 100px;
    width: 100px;
    border-radius: 60%;
    margin-left: auto;
    margin-right: auto;
}

#body {
/* background-image: url(./images/1095013.jpg);
background-repeat: no-repeat;
background-size: cover; */
background: linear-gradient(#95BF74, #659B5E);
}

#title {
text-align: center;
font-family: fantasy;
color: black;
}

.link {
    display: block;
    padding: 8px;
}

/* :hover {
    background-color: aquamarine;
} */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
body {
  font-weight: 600;
  font-size: 22px;
}

#s {
  padding-top: 40px;
}

#s1 {
  margin-top: 2000px;
  padding: 20px 20px 2000px 20px;
  background-color: #95BF74;
}

#s2 {
  margin-top: 2000px;
  padding: 20px 20px 2000px 20px;
  background-color: #659B5E;
}

#s3 {
  margin-top: 2000px;
  padding: 20px 20px 2000px 20px;
  background-color: #556F44;
}

#s4 {
  margin-top: 2000px;
  padding: 20px 20px 2000px 20px;
  background-color: #99DDC8;
}

html {
  scroll-behavior: smooth;
}