/* html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
#img {
    display: block;
    background-size: cover;
    background-image: url(images/Pepedankmeems420blazeitohbabyatripledankaestheticafkeepit100.jpg);
    height: 100px;
    width: 100px;
    border-radius: 60%;
    margin-left: auto;
    margin-right: auto;
}

body {
background-image: url(./images/1095013.jpg);
background-repeat: no-repeat;
background-size: cover;
background: linear-gradient(#95BF74, #659B5E);
}

#title {
text-align: center;
font-family: fantasy;
color: black;
font-size: 100px;
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* :hover {
    background-color: aquamarine;
} */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#s {
  padding-top: 40px;
}

#s1 {
  margin-top: 1000px;
  padding: 20px 20px 1000px 20px;
  background: linear-gradient(#95BF74, #659B5E);
}

#s2 {
  margin-top: 1000px;
  padding: 20px 20px 1000px 20px;
  background: linear-gradient(#95BF74, #659B5E);
}

#s3 {
  margin-top: 1000px;
  padding: 20px 20px 1000px 20px;
  background: linear-gradient(#95BF74, #659B5E);
}

#s4 {
  margin-top: 1000px;
  padding: 20px 20px 1000px 20px;
  background: linear-gradient(#95BF74, #659B5E);
}

html {
  scroll-behavior: smooth;
} 

* {
 margin: 0;
 padding: 0;
}

body {
  background-color: #eee;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
}

ul {
 margin-left: 60px;
}

ul li {
 list-style: none;
 display: inline-block;
 float: left;
 line-height: 100px;
}

ul li a{
display: block;
 text-decoration-line: none;
 font-size: 14px;
 font-family: Arial;
 color: #1e1e1e;
 padding: 0 20px;
}

ul li a:hover{
   color: red;
   
  }

  .wrapper {
    margin: 0 auto;
    width: 1000px;
  }

  .frog {
    width: 300px;
  }

  body {
    background-image: url(./images/1095013.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }