html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
#img {
    display: block;
    background-size: cover;
    background-image: url(images/Pepedankmeems420blazeitohbabyatripledankaestheticafkeepit100.jpg);
    height: 100px;
    width: 100px;
    border-radius: 60%;
    margin-left: auto;
    margin-right: auto;
}

#body {
background-image: url(./images/Marais_Poitevin_Waterway_Vendee_France_Elisa_Locci_shutterstock_1349843330-1024x683.jpg);
background-repeat: no-repeat;
background-size: cover;
}

#title {
 text-align: center;
}

li {
    float:left;
}

li a {
    display: block;
    padding: 8px;
    background-color: yellowgreen;
}

ul {
   position: fixed;
   top: 0;
   width: 100%;
}

li a:hover {
    background-color: aquamarine;
}
